page-help {
    /* .page-header {
        .toolbar-background {
            background: color($help-page-colors, header-background) !important;
        }

        .toolbar-title {
            color: color($help-page-colors, header-text) !important;
        }

        .bar-button {
            color: color($help-page-colors, header-icon) !important;
        }
    }


    .page-content {
        background: color($help-page-colors, background) !important;

        p {
            color: color($help-page-colors, text) !important;
        }

        .component-box {
            background-color: color($help-box-colors, background) !important;

            p {
                color: color($help-box-colors, text) !important;
            }

            h4 {
                color: color($help-box-colors, text) !important;
            }

            .fa {
                color: color($help-box-colors, icon) !important;
            }
        
        }
    } */
}
