page-forgot-password {

    .connexion-content {

        #div-date-birth {
           padding: 0; 

           label {
               font-size: 1.2rem;
           }

           input {
               width: 100%;
               margin-top: 8px;
               
               font-size: 0.9em;
           }
        }

   }
    
}
