<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content class="page-content">

  <ion-slides class="slide-information" pager loop="true" autoplay="4000" effect="flip" speed="800">
    <ion-slide *ngFor="let slideInfoTemplate of slidesInfoTemplate">
      <img src="{{ slideInfoTemplate.thumbnailURL }}">
      <div class="slide-overlay">
        <h1>{{ slideInfoTemplate.titleSlide }}</h1>
        <p>{{ slideInfoTemplate.bodySlide }}</p>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="homeBody">

    <div class="home-content div-scan" *ngIf="!isScannedEGM" >
        <button class="function" (click)="scan()">
          <div class="function-content">
            <i class="fa fa-qrcode fa-5x" ion-icon></i>
            <p class="function-title">Scan QR Code</p>
          </div>
        </button>
    </div>

    <div class="home-content" *ngIf="isScannedEGM" >
      <ion-slides class="slide-body" pager>

        <ion-slide *ngFor="let pageFunctionsTemplate of pagesFunctionsTemplate">
          <ion-row class="function-row" *ngIf="!pageFunctionsTemplate.slidesFunctions[0].isEmpty && !pageFunctionsTemplate.slidesFunctions[1].isEmpty">
            <ion-col col-6 class="function-col" *ngIf="!pageFunctionsTemplate.slidesFunctions[0].isEmpty">
              <button class="function" (click)= "funcOpen($event, pageFunctionsTemplate.slidesFunctions[0].title)">
                <div class="function-content">
                  <i class="fa {{ pageFunctionsTemplate.slidesFunctions[0].icon }} fa-5x" ion-icon></i>
                  <p class="function-title">{{ pageFunctionsTemplate.slidesFunctions[0].title }}</p>
                </div>
              </button>
            </ion-col>
            <ion-col col-6 class="function-col" *ngIf="!pageFunctionsTemplate.slidesFunctions[1].isEmpty">
              <button class="function" (click)= "funcOpen($event, pageFunctionsTemplate.slidesFunctions[1].title)">
                <div class="function-content">
                  <i class="fa {{ pageFunctionsTemplate.slidesFunctions[1].icon }} fa-5x" ion-icon></i>
                  <p class="function-title">{{ pageFunctionsTemplate.slidesFunctions[1].title }}</p>
                </div>
              </button>
            </ion-col>
          </ion-row>

          <ion-row class="function-row" *ngIf="!pageFunctionsTemplate.slidesFunctions[2].isEmpty && !pageFunctionsTemplate.slidesFunctions[3].isEmpty" >
            <ion-col col-6 class="function-col" *ngIf="!pageFunctionsTemplate.slidesFunctions[2].isEmpty">
              <button class="function" (click)= "funcOpen($event, pageFunctionsTemplate.slidesFunctions[2].title)">
                <div class="function-content">
                  <i class="fa {{ pageFunctionsTemplate.slidesFunctions[2].icon }} fa-5x" ion-icon></i>
                  <p class="function-title">{{ pageFunctionsTemplate.slidesFunctions[2].title }}</p>
                </div>
              </button>
            </ion-col>
            <ion-col col-6 class="function-col" *ngIf="!pageFunctionsTemplate.slidesFunctions[3].isEmpty">
              <button class="function" (click)= "funcOpen($event, pageFunctionsTemplate.slidesFunctions[3].title)">
                <div class="function-content">
                  <i class="fa {{ pageFunctionsTemplate.slidesFunctions[3].icon }} fa-5x" ion-icon></i>
                  <p class="function-title">{{ pageFunctionsTemplate.slidesFunctions[3].title }}</p>
                </div>
              </button>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </div>
  </div>

</ion-content>