page-change-password {
    .page-header {
        .toolbar-background {
            background: color($account-page-colors, header-background) !important;
        }

        .toolbar-title {
            color: color($account-page-colors, header-text) !important;
        }

        .bar-button {
            color: color($account-page-colors, header-icon) !important;
        }
    }


    .page-content {
        background: color($account-page-colors, background) !important;

        p {
            width: 100%;
            color: color($account-page-colors, text) !important;
            text-align: center;
        }

        .item-input {
            background-color: color($account-page-colors, background) !important;

            ion-label, ion-input {
                color: color($account-box-colors, text) !important;
            }
        
        }
    }

    .page-footer {
        .toolbar-background {
            background: color($connexion-button-footer-colors, background) !important;
        }

        button {
            color: color($connexion-button-footer-colors, text) !important;
        }

        .fa {
            color: color($connexion-button-footer-colors, icon) !important;
        }
    }
}
