page-transfert {

    .page-content {

        #subTitle {
            margin: 1.5em 0 0 0;
            text-align: center;
        }

        .component-box {
            background-color: color($colors, quaternary);
            height: 7em;
            padding: 0;

            ion-label {
                margin: 0;
            }

            h4 {
                margin-bottom: 8px;
            }

            .item-inner {
                padding: 0;
            }

            .item-title, .item-icon-end {
                background-color: color($colors, primary);
                color: color($colors, light);

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .item-icon-end {
                height: 100%;
                margin: 0;
                padding: 0 4vw;
                float: right;
            }

            .item-body-start {
                width: 70%;
                height: 100%;
                float: left;
                padding: 1em;

                display: flex;
                align-items: center;
            }

            .item-content {
                padding: 1em 0 1em 1em;
            }

            #otherAmountInput {
                background-color: color($colors, quaternary);

                border: none;
                border-bottom: 2px solid color($colors, primary);
                color: color($colors, light);
                
                font-size: 0.9em;
            }
        }

        #balance-component {
            margin: 3% auto 5% auto;
            height: 150px;

            .item-title, .item-content-col {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .row-title{
                height: 30%;
            }

            .row-title .item-title h2{
                margin: 0;
            }
            
            .row-body {
                height: 70%;
            }

            h4 {
                font-size: 1.2em;
            }

            
        }
    }

}
