page-settings {
    
    .page-content {

        p {
            color: color($settings-page-colors, text) !important;
        }

        .component-box {

            select {
                background: color($settings-select-colors, background);
                margin-top: 7px;

                border: none;
                border-bottom: 2px solid color($settings-select-colors, border-bottom);
                color: color($settings-select-colors, text);
                width: 100%;
                
                font-size: 0.9em;
            }
        }

        #last-component{
            width: 90%;
            margin: 0 auto 3% auto;

            h4 {
                color: color($settings-page-colors, text);
            }

            .separator {
                border-bottom: 2px solid color($settings-page-colors, divider);
            }
        }
    }

}
