// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

//======================================================================
// Shared Variables
//======================================================================

// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/



//======================================================================
// Named Color Variables
//======================================================================

// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:     #2b78e4
  ,secondary:  #606060
  ,danger:     #F74343
  ,good:       #52d276
  ,light:      #ffffff
  ,dark:       #000000
);

// General color variables
//######################################################################

$general-colors: (
  link:        #2b78e4
  ,danger:     color($colors, danger)
  ,good:       color($colors, good)
  ,warning:    #FF9500
  ,light:      color($colors, light)
  ,dark:       color($colors, dark)
);

// Color Variables for Connexion pages
//######################################################################

$connexion-pages-colors: (
  background:  #ffffff
  ,text:       #000000
);

$connexion-button-footer-colors: (
  background:  color($colors, primary)
  ,text:       #ffffff
  ,icon:       #ffffff
);

// Color Variables for pages (Default use)
//######################################################################

$page-colors: (
  background:             #ffffff
  ,header-background:     color($colors, primary)
  ,header-text:           #ffffff
  ,header-icon:           #ffffff
  ,text:                  #000000
  ,icon:                  #000000
);

$page-box-colors: (
  general-background:    color($page-colors, header-background)
  ,transfer-background:  #83B6FF
  ,text:                 #ffffff
  ,icon:                 #ffffff
);

$page-list-colors: (
  background:                   #b2b2b2
  ,header-background:           #ff0000
  ,header-text:                 #ffffff
  ,header-icon:                 #ffffff
  ,information-line-background: #8c8c8c
  ,information-line-text:       #000000
  ,impair-line-background:      #b2b2b2
  ,pair-line-background:        #8c8c8c
  ,line-text:                   #000000
  ,line-button-bacgound:        #ff0000
  ,line-button-text:            #ffffff
);

// Color Variables for Home page
//######################################################################

$home-page-colors: (
  background:         color($page-colors, background)
  ,header-background: color($page-colors, header-background)
  ,header-text:       color($page-colors, header-text)
  ,header-icon:       color($page-colors, header-icon)
  ,text:              color($page-colors, text)
);

$function-box-colors: (
  background:  color($page-box-colors, general-background)
  ,text:       color($page-box-colors, text)
  ,icon:       color($page-box-colors, icon)
);

$scan-qrcode-box-colors: (
  background:  color($page-box-colors, general-background)
  ,text:       color($page-box-colors, text)
  ,icon:       color($page-box-colors, icon)
);

$transfer-box-colors: (
  background:  color($page-box-colors, general-background)
  ,text:       color($page-box-colors, text)
  ,icon:       color($page-box-colors, icon)
);

$jackpots-box-colors: (
  background:  color($page-box-colors, general-background)
  ,text:       color($page-box-colors, text)
  ,icon:       color($page-box-colors, icon)
);
    //----------------------------------------------------------------------
    // Color Variables for Jackpots page
    //----------------------------------------------------------------------

    $jackpots-page-colors: (
      background:         color($page-colors, background)
      ,header-background: color($page-colors, header-background)
      ,header-text:       color($page-colors, header-text)
      ,header-icon:       color($page-colors, header-icon)
      ,text:              color($page-colors, text)
    );

    $jackpots-list-colors: (
      background:                   color($page-list-colors, background)
      ,header-background:           color($page-list-colors, header-background)
      ,header-text:                 color($page-list-colors, header-text)
      ,header-icon:                 color($page-list-colors, header-icon)
      ,information-line-background: color($page-list-colors, information-line-background)
      ,information-line-text:       color($page-list-colors, information-line-text)
      ,impair-line-background:      color($page-list-colors, impair-line-background)
      ,pair-line-background:        color($page-list-colors, pair-line-background)
      ,line-text:                   color($page-list-colors, line-text)
      ,line-button-bacgound:        color($page-list-colors, line-button-bacgound)
      ,line-button-text:            color($page-list-colors, line-button-text)
    );

    $jackpots-tabs-color: (

    );

$call-mcd-box-colors: (
  background:  color($page-box-colors, general-background)
  ,text:       color($page-box-colors, text)
  ,icon:       color($page-box-colors, icon)
);

$brewery-box-colors: (
  background:  color($page-box-colors, general-background)
  ,text:       color($page-box-colors, text)
  ,icon:       color($page-box-colors, icon)
);

    //----------------------------------------------------------------------
    // Color Variables for Brewery page
    //----------------------------------------------------------------------

    $brewery-page-colors: (
      background:         color($page-colors, background)
      ,header-background: color($page-colors, header-background)
      ,header-text:       color($page-colors, header-text)
      ,header-icon:       color($page-colors, header-icon)
      ,text:              color($page-colors, text)
    );

    $brewery-list-colors: (
      background:                   color($page-list-colors, background)
      ,header-background:           color($page-list-colors, header-background)
      ,header-text:                 color($page-list-colors, header-text)
      ,header-icon:                 color($page-list-colors, header-icon)
      ,information-line-background: color($page-list-colors, information-line-background)
      ,information-line-text:       color($page-list-colors, information-line-text)
      ,impair-line-background:      color($page-list-colors, impair-line-background)
      ,pair-line-background:        color($page-list-colors, pair-line-background)
      ,line-text:                   color($page-list-colors, line-text)
      ,line-button-bacgound:        color($page-list-colors, line-button-bacgound)
      ,line-button-text:            color($page-list-colors, line-button-text)
    );

$informations-box-colors: (
  background:  color($page-box-colors, general-background)
  ,text:       color($page-box-colors, text)
  ,icon:       color($page-box-colors, icon)
);

    //----------------------------------------------------------------------
    // Color Variables for Information page
    //----------------------------------------------------------------------

    $informations-page-colors: (
      background:         color($page-colors, background)
      ,header-background: color($page-colors, header-background)
      ,header-text:       color($page-colors, header-text)
      ,header-icon:       color($page-colors, header-icon)
      ,text:              color($page-colors, text)
    );

// Color Variables for Account page
//######################################################################

$account-page-colors: (
  background:         color($page-colors, background)
  ,header-background: color($page-colors, header-background)
  ,header-text:       color($page-colors, header-text)
  ,header-icon:       color($page-colors, header-icon)
  ,text:              color($page-colors, text)
);

$account-box-colors: (
  background:  color($page-box-colors, general-background)
  ,text:       color($page-box-colors, text)
  ,icon:       color($page-box-colors, icon)
);

// Color Variables for Settings page
//######################################################################

$settings-page-colors: (
  background:             #b2b2b2
  ,header-background:     #606060
  ,header-text:           #ffffff
  ,header-icon:           #ffffff
  ,text:                  #ffffff
  ,icon:                  #ffffff
  ,divider:               #ffffff
);

$settings-box-colors: (
  background:    #606060
  ,transfer-background:  #8c8c8c
  ,text:                 color($settings-page-colors, text)
  ,icon:                 color($settings-page-colors, text)
);

$settings-select-colors: (
  background:       color($settings-box-colors, background)
  ,border-bottom:   #8c8c8c
  ,text:            color($settings-box-colors, text)
);

// Color Variables for Transfer page
//######################################################################

$transfer-page-colors: (
  background:         color($page-colors, background)
  ,header-background: color($page-colors, header-background)
  ,header-text:       color($page-colors, header-text)
  ,header-icon:       color($page-colors, header-icon)
  ,text:              color($page-colors, text)
);

$transfer-box-colors: (
  header-background:  color($page-box-colors, general-background)
  ,header-text:       color($page-box-colors, text)
  ,header-icon:       color($page-box-colors, icon)
  ,content-background:color($page-box-colors, transfer-background)
  ,content-text:      color($page-box-colors, text)
  ,content-icon:      color($page-box-colors, icon)
);

// Color Variables for the Menu
//######################################################################

$menu-colors: (
  background:             color($page-colors, background)
  ,header-background:     color($page-colors, header-background)
  ,header-text:           color($page-colors, header-text)
  ,text:                  color($general-colors, dark)
  ,icon:                  color($general-colors, dark)
  ,divider:               color($general-colors, dark)
);

//======================================================================
// App iOS Variables
//======================================================================

// iOS only Sass variables can go here



//======================================================================
// App Material Design Variables
//======================================================================

// Material Design only Sass variables can go here



//======================================================================
// App Windows Variables
//======================================================================

// Windows only Sass variables can go here



//======================================================================
// App Theme
//======================================================================

// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

//======================================================================
// Icons
//======================================================================

// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

//======================================================================
// Fonts
//======================================================================

@import "roboto";
@import "noto-sans";
