// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #606060,
  secondary:  #2b78e4,
  tertiary :  #b2b2b2,
  quaternary: #8c8c8c,
  danger:     #ff0000,
  good:       #0eed0e,
  light:      #ffffff,
  dark:       #000000
);

// General color variables

$general-colors: (
  link:       #2b78e4,
  danger:     #ff0000,
  good:       #0eed0e,
  light:      #ffffff,
  dark:       #000000
);

// Color Variables for Login page

$login-page-colors: (
  background: #ffffff,
  text:       #000000
);

$button-footer-colors: (
  background: #606060,
  text:       #ffffff,
  icon:       #ffffff
);

// Color Variables for the Menu

$menu-colors: (
  background: #ffffff,
  header:     #606060,
  text:       #ffffff,
  icon:       #ffffff,
  divider:    #000000
);

// Color Variables for Home page

$home-page-colors: (
  background: #b2b2b2,
  header:     #606060,
  text:       #ffffff
);

$scan-qrcode-box-colors: (
  background: #606060,
  text:       #ffffff,
  icon:       #ffffff
);

$transfer-box-colors: (
  background: #606060,
  text:       #ffffff,
  icon:       #ffffff
);

$jackpots-box-colors: (
  background: #606060,
  text:       #ffffff,
  icon:       #ffffff
);

    // Color Variables for Jackpots page

    $jackpots-page-colors: (
      background: #ffffff,
      header:     #606060,
      text:       #000000
    );

    $jackpots-list-colors: (
      background:      #b2b2b2,
      header-backgound:#ff0000,
      header-text:     #ffffff,
      header-icon:     #ffffff,
      information-line-background: #8c8c8c,
      information-line-text:       #000000,
      impair-line-background:      #b2b2b2,
      pair-line-background:        #8c8c8c,
      line-text:                   #000000,
      line-button-bacgound:        #ff0000,
      line-button-text:            #ffffff,
    );

    $jackpots-tabs-color: (

    );

$call-mcd-box-colors: (
  background: #606060,
  text:       #ffffff,
  icon:       #ffffff
);

$brewery-box-colors: (
  background: #606060,
  text:       #ffffff,
  icon:       #ffffff
);

    // Color Variables for Brewery page

    $brewery-page-colors: (
      background: #ffffff,
      header:     #606060,
      text:       #000000
    );

    $brewery-list-colors: (
      background:      #b2b2b2,
      header-backgound:#ff0000,
      header-text:     #ffffff,
      header-icon:     #ffffff,
      information-line-background: #8c8c8c,
      information-line-text:       #000000,
      impair-line-background:      #b2b2b2,
      pair-line-background:        #8c8c8c,
      line-text:                   #000000,
      line-button-bacgound:        #ff0000,
      line-button-text:            #ffffff,
    );

$information-box-colors: (
  background: #606060,
  text:       #ffffff,
  icon:       #ffffff
);

// Color Variables for Account page

$account-page-colors: (
  background: #b2b2b2,
  header:     #606060,
  text:       #ffffff
);

$account-box-colors: (
  background: #606060,
  text:       #ffffff,
  icon:       #ffffff
);

// Color Variables for Settings page

$settings-page-colors: (
  background: #b2b2b2,
  header:     #606060,
  text:       #ffffff,
  divider:    #ffffff
);

$settings-box-colors: (
  background: #606060,
  text:       #ffffff,
  icon:       #ffffff
);

// Color Variables for Transfer page

$transfer-page-colors: (
  background: #b2b2b2,
  header:     #606060,
  text:       #ffffff,
);

$transfer-box-colors: (
  header-background: #606060,
  header-text:       #ffffff,
  header-icon:       #ffffff,
  content-background:#8c8c8c,
  content-text:      #ffffff,
  content-icon:      #ffffff
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";
@import "../../node_modules/font-awesome/scss/font-awesome";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
