// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//==========================================================
// CSS General
//==========================================================

.alertPopup, .alertPrompt {

    .alert-title {
        margin-bottom: 0.8em;
        text-align: center;
    }

    .alert-sub-title{
        text-align: center;
    }
}

//==========================================================
// CSS Sidemenu
//==========================================================

#menu {

    .toolbar-background {
        background: color($menu-colors, header-background) !important;
    }

    .toolbar-title {
        color: color($menu-colors, header-text) !important;
    }
    
    .menu-content {
        background-color: color($menu-colors, background) !important;

        p, h2, .fa {
            color: color($menu-colors, text);
        }

        .fa {
            color: color($menu-colors, icon);
        }

        button, #solde {
            background: none
        }

        #solde {
            position: absolute;
            bottom: 2px;
            border-top: 1px solid color($menu-colors, divider);
        }

        ion-col {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

//==========================================================
// CSS Connexion Pages (Login, Register, Register-2, Forgot-password, Forgot-password-2)
//==========================================================

.connexion-content {
    background-color: color($connexion-pages-colors, background);

    .app-logo, .answer-logo {
        height: 35%;
        width: 35%;
    }

    p, h1, .label{
      color: color($connexion-pages-colors, text) !important;
    }

    a{
      color: color($general-colors, link);
    }

    .logo-row {
      padding-top: 2%;
      margin-bottom: 6%;
    }

    .logo-row ion-col, .input-container {
      justify-content: center;
    }

    ion-row {
        align-items: center;
        text-align: center;
    }

    ion-col, ion-item {
        padding: 0;
    }

    ion-input, ion-datetime {
        font-size: 0.9em;
    }

    .input-container {
        margin: 0 3%;
        text-align: center;
    }

    .text-error {
        color: color($general-colors, danger) !important;
    }

    .required:after {content: " *"; color: color($general-colors, danger);}

    @media screen and (min-width: 315px) and (max-width: 500px) {

        .app-logo {
            height: 100%;
            width: 100%;
        }

        .answer-logo {
            height: 60%;
            width: 60%;
        }
    }

    @media screen and (min-width: 510px) and (max-width: 800px) {

        .app-logo {
            height: 50%;
            width: 50%;
        }

        .answer-logo {
            height: 35%;
            width: 35%;
        }
    }

    @media screen and (min-width: 800px) and (max-width: 1500px) {

        .logo-row {
            padding-top: 3%;
        }

        .app-logo {
            height: 50%;
            width: 50%;
        }

        .answer-logo {
            height: 25%;
            width: 25%;
        }
      }

      @media screen and (min-width: 1500px) {

        .logo-row {
            padding-top: 0%;
        }

        .app-logo {
            height: 35%;
            width: 35%;
        }

        .answer-logo {
            height: 15%;
            width: 15%;
        }
    }
}

.connexion-footer {

    .toolbar-background {
        background: color($connexion-button-footer-colors, background) !important;
    }

    button {
        color: color($connexion-button-footer-colors, text) !important;
    }

    .fa {
        color: color($connexion-button-footer-colors, icon) !important;
    }

}

//==========================================================
// CSS Other Pages (Home, Account, Settings, Transfer, Jackpots, Bewery, Info, Help)
//==========================================================

.page-header {
    .toolbar-background {
        background: color($page-colors, header-background);
    }

    .toolbar-title {
        color: color($page-colors, header-text);
    }

    .bar-button {
        color: color($page-colors, header-icon);
    }
}

.page-content {
    background: color($page-colors, background);

    p {
        color: color($page-colors, text);
    }

    .component-box {
        width: 90%;
        background-color: color($page-box-colors, general-background);
        border-radius: 5px;
        padding: 2px;
        margin: 10% auto;
        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    
        .item-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .item-content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .item-icon-end {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        p {
            font-size: 0.8em;
            margin: 0;
            color: color($page-box-colors, text);
        }

        h4 {
            font-weight: bold;
            width: 100%;
            margin: 0;
            font-size: 1.0em;
            color: color($page-box-colors, text);
            margin: auto 0;
        }

        .fa {
            color: color($page-box-colors, icon);
        }
    
    }

    .header-list {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: color($page-list-colors, header-background);
        color: color($page-list-colors, header-text);
    }
    
    @media screen and (min-width: 315px) and (max-width: 500px) {

        .component-box {
            margin: 10% auto;
        }
    }

    @media screen and (min-width: 510px) and (max-width: 800px) {

        .component-box {
            margin: 5% auto;
        }
    }

    @media screen and (min-width: 800px) and (max-width: 1500px) {

        .component-box {
            margin: 5% auto;
        }
    }

    @media screen and (min-width: 1500px) {

        .component-box {
            margin: 3% auto;
        }
    }
}