page-transfert {

    .page-header {
        .toolbar-background {
            background: color($transfer-page-colors, header-background) !important;
        }

        .toolbar-title {
            color: color($transfer-page-colors, header-text) !important;
        }

        .bar-button {
            color: color($transfer-page-colors, header-icon) !important;
        }
    }

    .page-content {
        background: color($transfer-page-colors, background) !important;

        p {
            color: color($transfer-page-colors, text) !important;
        }

        #subTitle {
            margin: 1.5em 0 0 0;
            text-align: center;
        }

        .component-box {
            background-color: color($transfer-box-colors, content-background) !important;
            height: 7em;
            padding: 0;

            ion-label {
                margin: 0;
            }

            h4 {
                margin-bottom: 8px;
                color: color($transfer-box-colors, content-text) !important;
            }

            p {
                color: color($transfer-box-colors, content-text) !important;
            }

            .item-inner {
                padding: 0;
            }

            .item-input {
                background-color: color($transfer-box-colors, content-background) !important;
                color: color($transfer-box-colors, content-text) !important;
            }

            .item-title, .item-icon-end {
                background-color: color($transfer-box-colors, header-background) !important;
                color: color($transfer-box-colors, header-text) !important;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .item-icon-end {
                height: 100%;
                margin: 0;
                padding: 0 4vw;
                float: right;
            }

            .item-body-start {
                width: 70%;
                height: 100%;
                float: left;
                padding: 1em;

                display: flex;
                align-items: center;
            }

            .item-content {
                padding: 1em 0 1em 1em;
            }

            #otherAmountInput {
                border: none;
                border-bottom: 2px solid color($transfer-box-colors, header-background) !important;
                
                font-size: 0.9em;
            }
        }

        #balance-component {
            margin: 3% auto 5% auto;
            height: 150px;

            .item-title, .item-content-col {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .row-title{
                height: 30%;
            }

            .row-title .item-title h2{
                margin: 0;
            }
            
            .row-body {
                height: 70%;
            }

            h4 {
                margin-bottom: 1.2em;
                color: color($transfer-box-colors, content-text) !important;
            }

            p {
                color: color($transfer-box-colors, content-text) !important;
            }

            
        }
    }

}
